<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_pack_tag 'app' %>
  </head>

  <body>
    <div id="root"></div>

    <%= javascript_pack_tag 'app' %>
  </body>
</html>
